.leftcontainer {
  display: flex; 
  flex-direction: column;
}

.square { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0); 
  font-size: 18px;
}

.darkblue{
  width: 210px;
  height: 210px;
  background-color: #0c13d6;
}

.yellow {
  width: 210px;
  height: 70px;
  background-color: #ffdd00;
}

.red {
  width: 210px;
  height: 70px;
  background-color: #ff0800;
  color: #ffffff;
}

.green {
  width: 210px;
  height: 70px;
  background-color: #40ff00;
}

.centcontainer {
  display: flex; 
  flex-direction: column;
  position: relative;
    left: 210px;
    bottom: 420px
}

.black {
  width: 420px;
  height: 70px;
  background-color: #000000;
  color: #ffffff; 
}

.brown {
  width: 210px;
  height: 140px;
  background-color: #9d4700;
  color: #ffffff; 
}

.purple {
  width: 210px;
  height: 140px;
  background-color: #9301a3;
  color: #ffffff; 
}

.orange {
  width: 210px;
  height: 70px;
  background-color: #ff9500;
}

.rightcontainer {
  display: flex; 
  flex-direction: column;
  position: relative;
    left: 420px;
    bottom: 770px;
}

.white {
  width: 105px;
  height: 210px;
  background-color: #ffffff;
}

.gray {
  width: 210px;
  height: 140px;
  background-color: #777777;
}

.pink {
  width: 105px;
  height: 70px;
  background-color: #ff00a2;
  position: relative;
    left: 105px;
    bottom: 350px;
}

.blue {
  width: 105px;
  height: 140px;
  background-color: #00c8ff;
  position: relative;
    left: 105px;
    bottom: 350px;
}